body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#login {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.ratings {
  width: auto;
  height: 100px;
  border: 2px solid black;
  cursor: pointer;
}
