<!-- This is the home screen where the user may either log into an existing session, or host a new one -->

<!-- the onfocus attribute clears the text field when a user clicks on the text field. -->
<form ng-submit="newGuest()" >
  <input type="text" ng-model="sessionId" placeholder="Enter Session Id">
  <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" />
</form>
<h4>- or -</h4>

<!-- <button class="start-session" ng-click="startSession()">Host a Session</button> -->
<!-- I have decided to get rid of the button in favor of a link to send us to the next route -->
<a href="#/hostMenu" id="hostSession">Host a Session</a>