<!-- This page will contain a list of a host"s historic session links to view -->

<h3>Select a session:</h3>
<!-- Where historic sessions can be appended -->
<form name="SessionsForm" ng-controller="AnalysisController">
<table align = "center" class="sessions">
<!--Columns declared -->
<tr><th>Session ID</th><th>Start Time</th><th>Duration</th><th>Average</th><th>Total Votes</th></tr>
<!-- Additional sessions defined and appended-->
<tr><td colspan="5" ></td></tr>
<tr ng-repeat="session in sessions | filter: hostId | orderBy: timeStart">
  <td><input required ng-model="session.id"><a href = "#/api/"+session.id >{{session.id}} </a></td>
  <td><select ng-model="session.startTime" >{{session.startTime}}</select></td>
  <td><input required ng-model="session.timeElapsed">{{session.elapsedTime}}</td>
  <td><select ng-model="session" ng-options="">{{session.cumSumVoteVals / sumVoteCounts}}</td>
  <td><input required ng-model="session.sumVoteCounts">{{session.sumVoteCounts}}</td>
</tr>
<tr><td colspan="5"></tr>
</table>
</form>



<button id="logout">Logout</button>
