<!-- This is the host"s main view during lecture/event -->

<div class='statTags'>Session ID: <span>{{ sessionId }}</span></div>
<!-- Current Average Feeling -->
<div class='statTags'>Current Average: <span>{{ currAvg }}</span></div>
<!-- Overall Average Feeling -->
<div class='statTags'>Historical Average: <span>{{ hisAvg }}</span></div>
<!-- Number of Voters in Room -->
<div class='statTags'>Number of Voters: <span>{{ userCount }}</span></div>
<!-- Time -->
<div class='statTags'>Time: <span>{{ time }}</span></div>

<!-- Link to end session. Sends post data back to our server and redirects host to hostMenu-->

<a href="#/hostMenu" id="endSession" ng-click="endSession()">End Session</a>
