<!-- This is the host"s main view during lecture/event -->

<div>Session ID: {{ sessionId }}</div>
<!-- Current Average Feeling -->
<div>Current Status: {{ currAvg }}</div>
<!-- Overall Average Feeling -->
<div>Historical Average: {{ hisAvg }}</div>
<!-- Stopwatch Time -->
<div>Number of Voters: {{ userCount }}</div>
<div>{{ time }}</div>

<!-- Link to end session. Sends post data back to our server and redirects host to hostMenu-->

<a href="#/hostMenu" id="endSession" ng-click="endSession()">End Session</a>
