<!-- This is the host"s main page. New sessions can be started here, historic sessions can be viewed here. -->

  <!-- The new session button launches a new host session upon click, and also reroutes us to the host session page. -->
  <a href="#/hostSession" ng-click="startSession()"><button class="hostMenuButtons" id="newSession">New Session</button></a>
  <br>
  <!-- This button is not important for MVP -->
  <a href="#/hostHistoryView" ng-click="sessionHistory()"><button class="hostMenuButtons" id="sessionHistory">View History</button></a>
  <br>
  <!-- This button logs out the current host. Currently, it will send the user to the home screen -->
  <a href="#/home"><button class="hostMenuButtons" id="logout" ng-click="">Log Out</button></a>
